.contact-img img{
    width: 100%;
}
.numbers span {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 30%;
    justify-content: center;
    margin: 10px auto;
    font-size: 60px;
    font-weight: 550;
    gap: 15px
}
span img{
    width: 60px;
}
.map{
    background-color: #222222;
    padding: 30px;
}
.map-container{
    width: 100%;
    display: flex;
    margin: 15px auto;
    justify-content: space-between;
    background-color: #222222;
}
.mail-but,.copy-but{
    font-size: 20px;
    border: 2px solid black;
    padding: 2px;
    background-color: orange;
    color: white;
}
iframe{
    width: 49%;
}
.touch-form{
    width: 49%;
}
input,textarea{
    background-color: #222222;
    height: 3em;
    font-size: 1em;
    padding: 0;
    border-bottom: 3px solid white;
    margin: 10px;
    width: 100%;
}