.contact-img img{
    width: 100%;
}
.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin: 10px auto;
    font-size: 60px;
    font-weight: 550;
    gap: 15px
}
.num{
    display: flex;
    gap: 15px;
}
.num img{
    width: 60px;
}
.map{
    background-color: #222222;
    padding: 30px;
}
.map-container{
    width: 100%;
    display: flex;
    margin: 15px auto;
    justify-content: space-between;
    background-color: #222222;
}
.buttn{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px
}
span a{
    text-decoration: none;
    color: white;
}
.mail-but,.copy-but{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: orangered;
    color: white;
    width: 104px;
}
iframe{
    width: 49%;
}
.touch-form{
    width: 49%;
}
input,textarea{
    background-color: #222222;
    height: 3em;
    font-size: 1em;
    padding: 0;
    border-bottom: 3px solid white;
    margin: 10px;
    width: 100%;
}
/* ====MEDIA==== */
@media (max-width:1400px){
    
}
@media (max-width:1200px){

}
@media (max-width:992px){
    .map-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    iframe{
        width: 90%;
    }
    .touch-form{
        width: 90%;
    }
    .numbers{
        font-size: 40px;
    }
    span img{
        width: 40px;
    }
    
}
@media (max-width:766px){

    
}
@media (max-width:700px){
    
}
@media (max-width:677px){
    .numbers{
        font-size: 2em;
    }
    .num img{
        width: 1em;
    }
    
}
@media (max-width:600px){
   
}
@media (max-width:768px){

}
@media (max-width:550px){
    .numbers{
        font-size: 1.3em;
    }
    .num img{
        width: 1.3em;
    }
    .num{
        gap: 10px;
    }
    

}