.main{
    width: 100%;
    height: 880px;
    margin: 0rem 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main .background{
    width: 100%;
    height: 880px;
    background-image: url('backgroundhorizontal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
}
.quote{
    color: white;
    width: 16.75em;
    height: 3.5em;
    padding: 1.25rem 0;
    text-align: center;
    font-family: 'Kablammo', cursive;
    font-size: 3.125em;
    border-radius: 1.25rem;
    background-color: rgba(1,1,1,0.3);
}
.form{
    outline: 2px solid white;
    width: 25.438em;
    padding: 1rem;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 20px;
}
input{
    font-size: 1rem;
    height: 1.56rem;
}
.small{
    width: 13%;
}
.sub{
    width: 50%;
}
.full{
    /* width: 270px; */
    width: 65%;
}
.form:hover{
    background: rgba(1,1,1,.5);
    /* border: 2px solid white; */
    outline: 2px solid grey;
}

.side-footer .shedule{
    line-height: 2;
}
.side-footer .footer{
    color: white;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 60vw;
    background-color: rgba(1,1,1,0.3);
    padding: 1.5em 4em;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 100px 0px 0px;
    /* display: none; */
}
.side-footer .follow{
    text-align: center;
    line-height: 3;
}
.side-footer .follow img{
    width: 30px;
    filter: invert(100%);
    margin: 0 0.5rem;
}
.side-footer .follow img:hover{
    transform: scale(1.5);
}
.center-buttons{
    display: none;
}
.center-buttons .right{
    width: 50vw;
    margin: 20px auto;
}
.center-buttons .btn{
    width: 100vw;
}
@media  (max-width:1400px){
    body{
        background-position: center;
    }
    *{
        font-size: 15.75px;
    }
    :root{
        font-size: 15.75px;
    }
    .side-footer{
        display: none;
    }
    .lower-footer{
        display: block;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
}
@media  (max-width:1150px){
    body{
        background-image: url(./backmiddle.jpg);
        background-position: center;
    }
   .center-buttons{
    display: block;
   }
   .center-buttons .right{
        padding: 0;
   }
   .header .right{
    display:none;
   }
}
@media  (max-width:950px){
    .center-buttons{
        width: 50vw;
        margin: 0px auto;
    }
   .center-buttons .right{
        margin: 20px auto;
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   .center-buttons .btn{
        width: inherit;
        margin-top: 15px;
    }

}
@media  (max-width:840px){
    body{
        background-image: url('vertical.jpg');
    }
    .quote{
        width: 100vw;
        height: auto;
        border: 0px;
        padding: 1.25rem 1.25rem;
    }

}
@media  (max-width:780px){
    *{
        font-size: 14.75px;
    }
    .left img{
        width: 4rem;
    }
    .navbar li a{
        margin: 2.125em 0.8em;
    }
    .footer{
        flex-direction: column;
    }
    .shedule{
        text-align: center;
        order: 2;
    }
    .follow{
        order: 1;
    }
    .navbar li a{
        padding: 1.25rem 1.25rem;
    }

}
@media (max-width:750px){
    
}
@media (max-width:600px){
    *{
        font-size: 10px;
    }
    .left img{
        width: 4rem;
    }
    .navbar li a{
        padding: 2.125rem 0.25rem;
    }
    .form{
        width: 70vw;
        height: auto;
        margin: 0px auto;
        border: 0px;
    }
}