.join-main{
    text-align: center;
}
.select-package{
    background: black;
    color: white;
    text-align: center;
    padding: 2em;
}
.select-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 2em 0px;
}
td img{
    width: 1.5em;
}
.plan-card{
    width: 300px;
    /* background-color: black; */
    color: white;
    text-align: center;
    line-height: 2;
    /* border: 8px solid orangered; */
    /* border-radius: 40px; */
    border: 1px solid;
    transition: all 0.3s;
    transition-timing-function: ease-out;
    margin: 1em 1em;


}
.plan-card:hover{
    box-shadow: 10px 15px 15px red;
    transform: rotateY(-20deg);
}

span{
    color: orangered;
}
table{
    width: 85%;
    text-align: left;
    margin: 0px auto;
}
.time{
    font-size: 30px;
    font-weight: 600;
}
.price{
    font-size: 25px;
}
.sel-button{
    width: 75%;
    margin: 20px auto;
    padding: 0.5em 0em;
    border: 1px solid white;
    font-weight: 700;
}
.sel-button:hover{
    background-color: orangered;
}
/* --------form-------- */
.form-section{
    background-color: #222222;
    padding: 2em 0 0 0;

}
.form-container{
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    align-items: center;
}
.adm-img{
    width: 49%;
    text-align: center;
}
.adm-img img{
    width: 409px;
}
.form{
    background-color: black;
    outline: 2px solid;
    width: 49%;
    padding: 1rem;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    /* border-radius: 20px; */
    /* margin: 0px auto; */ 
}
input{
    font-size: 1rem;
    height: 1.56rem;
}
.small{
    width: 13%;
}
.sub{
    width: 50%;
}
.full{
    /* width: 270px; */
    width: 65%;
}
/* .form:hover{
    background: rgba(1,1,1,.5);
    /* border: 2px solid white; */
    /* outline: 2px solid grey; */
/* } */ 

@media (max-width:1300px){
    .form-container{
        flex-direction: column;
    }
    .adm-img{
        width: 100%;
    }
    .adm-img img{
        width: inherit;
    }
    .form{
        width: 100%;
        margin: 1em auto;
    }
    

}
@media (max-width:992px){

}
@media (max-width:766px){

    
}
@media (max-width:700px){
    
}
@media (max-width:677px){
    
}
@media (max-width:600px){
    
}
@media (max-width:768px){
   
}
@media (max-width:550px){
   
}